@media screen and (max-width:850px){
    .passion{
        width: 90%;
    }
    .testimonial-card-item{
        width: 280px !important;
        height: 440px;
    }
    .working{
        width: 90%;
    }
    .working-list li{
        font-size: 3vw;
    }
    .testimonial-card-item:hover{
        transform: scale(1);
        filter: drop-shadow(3px 3px 7px var(--grey));
    }
}

@media screen and (max-width:650px){
    .testimonial-card{
        display: block;
        width: 100%;
    }
    .testimonial-card-item{
        margin: 0 auto 40px;
        width: 95% !important;
        height: 400px;
        padding: 2rem;
    }
    .name{
        font-size: 1.5rem !important;
    }
    .profession{
        font-size: 17px !important;
    }
    .response{
        font-size: 1.3rem;
    }
    .working-list li{
        font-size: 1rem !important;
    }
}

@media screen and (max-width:640px){
    .skill-heading{
        font-size: 6vw;
    }
    .passion{
        width: 100%;
    }
    .testimonial-card-item{
        height: 450px;
    }
    .skill-col{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .col{
        padding: 0 0 2rem;
        padding-right: 15px;
    }
}

@media screen and (max-width:350px){
    .testimonial-card-item{
        height: 480px;
    }
    .skill-heading{
        font-size: 8vw;
    }
}

@media screen and (max-width:1000px){
    .testimonial-card-item{
        width: 320px;
    }
    .name{
        font-size: 1.2rem;
    }
    .profession{
        font-size: 14px;
    }
    .response{
        font-size: 1.1rem;
    }
    .working-list li{
        font-size: 2.3vw;
    }
}