@media screen and (max-width: 540px){
    .heading{
        font-size: 2.1rem;
    }
    .topics-section{
        display: block;
        width: 100%;
    }
    .topics{
        width: 100%;
    }
    #study-topics{
        height: 170px;
    }
    #skills{
        height: 250px;
    }
    #tips{
        height: 170px;
    }
    #experiences{
        height: 200px;
    }
}

@media screen and (max-width: 800px){
    .heading{
        font-size: 5vw;
    }
    .intro-text {
        font-size: 2.5vw;
    }
    .heading-2{
        font-size: 4.5vw;
    }
    .article-heading{
        font-size: 2.5vw;
    }
    .topics-section{
        padding-bottom: 2rem;
    }
    .topics{
        height: 300px;
    }
}
