@media screen and (max-width: 540px){
    .heading{
        font-size: 2.5rem;
    }
    .topics-section{
        display: block;
        width: 100%;
    }
    .topics{
        width: 100%;
    }
    #study-topics{
        height: 220px;
    }
    #skills{
        height: 270px;
    }
    #tips{
        height: 200px;
    }
    #experiences{
        height: 230px;
    }
}

@media screen and (max-width: 800px){
    .heading{
        font-size: 2.5rem;
    }
    .heading-2{
        font-size: 2.2rem;
    }
    .article-heading{
        font-size: 1.2rem;
    }
    .topics-section{
        padding-bottom: 2rem;
    }
    .topics{
        height: 300px;
    }
}

@media screen and (max-width:905px){
    .heading-2{
        font-size: 2.2rem;
    }
    .article-heading{
        font-size: 1rem;
    }
}
