@media screen and (max-width: 540px) {
    .heading{
        font-size: 1.9rem !important;
    }
    .intro-text {
        font-size: 4vw !important;
    }
}

@media screen and (max-width: 960px){
    .heading{
        font-size: 2.5rem;
    }
}