@media screen and (max-width:1300px){
    .description{
        font-size: 2.3vw !important;
    }
}

@media screen and (max-width:840px){
    .description{
        font-size: 3vw !important;
    }
    .heading{
        font-size: 2.5rem !important;
    }
    .heading-2{
        font-size: 2.5rem !important;
    }
    .footer-content{
        padding: 2rem 3vw;
    }
}

@media screen and (max-width:600px){
    .description{
        font-size: 1.09rem !important;
    }
    .heading{
    font-size: 1.9rem !important;
    }
    .heading-2{
        font-size: 1.9rem !important;
    }
}

@media screen and (max-width:670px){
    .footer-content{
        flex-direction: column;
    }
    .copyright{
        padding: 0 0 25px;
        text-align: center;
    }

    .footer-social-icons{
        justify-content: center;
    }
}