@media screen and (max-width: 540px) {
    .container{
        padding: 0;
    }
    
    .nav-bar{
        display: flex;
        padding-top: 3%;
        width: 100%;
    }

    .logo{
        text-align: center;
        width: 100%;
    }

    .nav-list{
        display: none;
    } 

    
}

@media screen and (max-width: 768px) {
    .container{
        padding: 10px 40px;
    }
}

@media screen and (max-width:1024px){
    .container{
        padding: 10px 100px;
    }
}