@media screen and (max-width:800px){
    .card-title{
        font-size: 3vw;
    }
    .templates{
        display: block;
        width: 100%;
    }
    .card{
        display: block;
        width: 100%;
        padding: 0 0 4vh;
    }
}

@media screen and (max-width:600px){
    .card-title{
        font-size: 3.6vw;
    }
}

@media screen and (max-width:540px){
    .card-title{
        font-size: 4.5vw;
    }
    .end{
        margin-top: 1.5rem;
    }
}