.loading {
  width: 100%;
  z-index: 1000;
  position: fixed;
  background: #fafafa;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-img{
  width: 100px;
  height:100px;
}

.loading.hidden {
  -webkit-animation: fadeOut 1s;
          animation: fadeOut 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@keyframes fadeOut {
  25%{
    opacity: 0.75;
  }
  50%{
    opacity: 0.5;
  }
  75%{
    opacity: 0.25;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
