.heading{
    width: 100%;
    text-align: center;
    font-size: var(--heading);
    font-weight: bold;
    padding-top: 4rem;
    /*Instead of remove padding for writing description I am using margin-top: -x;*/
    padding-bottom: 3rem;
}

/*.heading-2{*/
/*    width: 100%;*/
/*    text-align: left;*/
/*    font-size: 2.3rem;*/
/*    padding-top: 4rem;*/
/*    !*Instead of remove padding for writing description I am using margin-top: -x;*!*/
/*    padding-bottom: 3rem;*/
/*}*/

/*.description{*/
/*    margin-top: -2.2rem;*/
/*    text-align: center;*/
/*    padding-bottom: 2.5rem;*/
/*    font-size: 1.2rem;*/
/*}*/

.co-hort-img{
    width: 100%;
    border-radius: 1rem;
    margin-bottom: .5rem;
    filter: drop-shadow(3px 3px 7px var(--grey));
}

.collab-img{
    width: 100%;
    border-radius: 1rem;
    margin-bottom: .5rem;
    filter: drop-shadow(3px 3px 7px var(--darkgrey));
}

#discord-color{
    color: #8a9cfe;
}

/*.heading{*/
/*    font-size: var(--heading);*/
/*    padding-top: 10%;*/
/*    padding-bottom: 4%;*/
/*    text-align: center;*/
/*    font-weight: bold;*/
/*}*/

.heading-2{
    font-size: 2rem;
    padding-top: 10%;
    padding-bottom: 1%;
    font-weight: bold;
}

.description{
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 15px;
}

.input-field{
    display: flex;
    padding: 15px 0;
    background: var(--white);
    border: 1px solid var(--grey);
    border-radius: 20px;
    margin: 15px 0;

    filter: drop-shadow(3px 3px 7px var(--grey));
}

.input-icon{
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

.input{
    overflow: hidden;
    border: none;
    font-style: var(--text-font);
    font-size: 1.2rem;
    background: none;
    width: 100%;
}

.form-btn{
    padding: 15px 0;
    background: #f3f9fb;
    border-radius: 20px;
    filter: drop-shadow(3px 3px 7px var(--grey));
    border: 1px solid var(--scheme);
    margin: 15px 0;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.4s ease-out;
}

.form-btn:hover{
    background: var(--scheme);
    border: 1px solid var(--scheme);
}

