.heading{
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 4rem;
}

.intro-text{
    font-size:1.5rem;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.video {
    position: relative; 
    padding-bottom: 56.25%; 
    padding-top: 30px; 
    height: 0; 
    overflow: hidden; 
    filter: drop-shadow(2px 2px 7px var(--darkgrey));
}

.video iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    /* check it first */
    border-radius: 20px;
}

.passion{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.social-icons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 20px;
}

.icon{
    height: 15vw;
    width: 15vw;
    margin: 0 10px 0;
    filter: drop-shadow(2px 2px 4px black);
    transition: all 0.2s ease-in-out;
}

.icon:hover{
    transform: scale(1.1);
}

.caption{
    font-size: 0.8rem;
    color: var(--darkgrey);
    text-align: center; 
}

.testimonial-card{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.testimonial-card-item{
    width: 350px;
    height: 400px;
    padding: 1rem;
    background-color: var(--white);
    border: 1px solid var(--grey);
    border-radius: 20px;
    filter: drop-shadow(3px 3px 7px var(--grey));
    transition: all 0.4s ease-out;
}

.testimonial-card-item:hover{
    transform: scale(1.03);
    filter: drop-shadow(3px 3px 7px var(--darkgrey));
}

.name{
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
}

.profession{
    font-style: italic;
    padding-top: 5px;
    color: var(--scheme);
    text-align: center;
}

.response{
    text-align: center;
    padding-top: 30px;
    font-size: 1.19rem;
    line-height: 1.3;
    color: #222831;
}