.heading{
    width: 100%;
    text-align: center;
    font-size: var(--heading);
    font-weight: bold;
    padding-top: 4rem;
    /*Instead of remove padding for writing description I am using margin-top: -x;*/
    padding-bottom: 3rem;
}

.description{
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 40px;
}

.products{
    margin: 2rem 0;
    width: 100%;
}

.heading-2{
    width: 100%;
    text-align: left;
    font-size: var(--heading);
    font-weight: bold;
    padding-top: 4rem;
    /*Instead of remove padding for writing description I am using margin-top: -x;*/
    padding-bottom: 1rem;
}

.card{
    padding: 0 0 10vh;
}

.templates{
    display: block;
    width: 90%;
    margin: 0 auto;
}

.template-img{
    width: 100%;
    border-radius: 1rem;
    filter: drop-shadow(0 0 7px var(--darkgrey));
    transition: all 0.4s ease-out;
}
.template-img:hover{
    transform: scale(1.01);
    filter: drop-shadow(0px 0px 5px var(--scheme));
}

.card-description{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0 0;
}

.card-title{
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0 0 0 .7rem;
}

.price{
    padding-right: .7rem;
    font-size: 1.4rem;
    color: #85bb65;
    padding-left: 2.5rem;
}
