@font-face {
    font-family: 'Messina Sans';
    src: url('../../assets/fonts/MessinaSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body{
    cursor: url('../../assets/img/twitter.svg'), auto;
    font-size: 1rem;
    font-family: 'Messina Sans', serif;
}
.tweets{
    display: flex;
}

.twitter-tweet {
    padding-right: 30px;
    cursor: url('../../assets/img/twitter.svg'), auto;
    padding-left: 20px;
}

blockquote.twitter-tweet{
    font-family: 'Messina Sans', serif;
}