/*Common for all in the music page*/
.heading{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 4rem;
    /*Instead of remove padding for writing description I am using margin-top: -x;*/
    padding-bottom: 3rem;
}

.sub-heading{
    padding-top: 2rem;
    padding-bottom: 6px;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

.description{
    margin-top: -2.2rem;
    text-align: center;
    padding-bottom: 2.5rem;
    font-size: 1.2rem;
}

.references{
    text-decoration: none;
}

.intro-text{
    font-size: 1.2rem;
    text-align: center;
}
/*End*/

/*Playlist*/
.playlist{
    display: flex;
    justify-content: space-around;
}

/*Common for both playlist and music*/
.music{
    border-radius: 10px;
    filter: drop-shadow(3px 3px 7px var(--grey));
    z-index: -1;
}

.songs{
    display: flex;
    justify-content: space-around;
}


/*podcasts*/
.podcasts{
    padding-bottom: 3rem;
}

.podcasts-embed{
    filter: drop-shadow(3px 3px 7px var(--grey));
}



