.heading{
    padding-top: 10%;
    font-size: 2.5rem;
    padding-bottom: 3%;
}
.intro-text{
    font-size: 1.5rem;
    padding-bottom: 15px;
}

.tweets{
    border-radius: 10px;
    padding-bottom: 1rem;
}

.description{
    padding-bottom: 2.5rem;
    font-size: 0.9rem;
    color: var(--darkgrey);
}

.direct{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 3rem;
}

.card{
    height: 280px;
    background: var(--white);
    border: 1px solid var(--grey);
    border-radius: 20px;
    width: 30%;
    padding: 1.3rem 0 0;
    margin-right: 2rem;
    filter: drop-shadow(3px 3px 7px var(--grey));
    transition: all 0.4s ease-out;
}

.card:hover{
    transform: scale(1.03);
    filter: drop-shadow(3px 3px 7px var(--darkgrey));
}

.card-logo{
    text-align: center;
    font-size: 3.5rem;
    padding: 0 0 20px;
}

.card-title{
    text-align: center;
    font-size: 1.9rem;
}

.card-description{
    text-align: center;
    font-size: 1.2rem;
    padding: 20px 10px 0;
    height:100%;
}

.last{
    margin-right: 0;
}

#twitter-section{
    cursor: url(../assets/img/twitter.svg), default;
}

.templates{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.tmp-card{
    width: 48%;
}

.template-img{
    width: 100%;
    border-radius: 1rem;
    filter: drop-shadow(0 0 7px var(--grey));
    transition: all 0.4s ease-out;
}
.template-img:hover{
    transform: scale(1.01);
    filter: drop-shadow(0 0 7px var(--darkgrey));
}


.tmp-card-description{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0 0;
}

.tmp-card-title{
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0 0 0 .7rem;
    transition: all 0.4s ease-in-out;
}
.tmp-card-title:hover{
    color: var(--scheme);
    text-decoration: underline;
}

.tmp-price{
    padding-right: .7rem;
    font-size: 1.4rem;
    color: #85bb65;
    padding-left: 2.5rem;
}