/* Fonts */

@font-face {
    font-family: 'Messina Sans';
    src: url('../assets/fonts/MessinaSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Fonts - End */

/* Universal For HTML */
:root{
    --scheme: #5c1ed8;
    --white: #fafafa;
    --text: #1B2A3D;
    --grey: #e9ecef;
    --text-font: 'Messina Sans';
}

/* Scroll-bar */
::-webkit-scrollbar {
    display: none;
}

*{
    -ms-overflow-style: none;
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
    font-family: var(--text-font);
    color: var(--text);
}

body{
    background: var(--white);
}

.container{
    padding-top: 10px;
    padding-right: 20%;
    padding-left: 20%;
}

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #111111;
}

.copyright{
    color: var(--grey);
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 15px;
}

/* Elements */
button{
    outline: none;
}

a {
    text-decoration: none;
    color: unset;
}

.active a{
    color: var(--scheme);
    font-weight: bold;
}

.active a:hover{
    color: var(--scheme);
    font-weight: bold;
}

u{
    text-decoration-color: var(--scheme);
}

/*Common Tags for all over the webpage*/
.references{
    text-decoration: underline;
    color: var(--scheme);
    transition: all 0.2s ease-out;
}
.references:hover{
    filter: brightness(87%);
}

/* hr */
.end{
    display: block;
    width: 25%;
    margin: auto;
    margin-top: 5rem;
    padding: 0;
    border: 2px solid var(--scheme);
    border-radius: 12px;
}