/* Fonts */

@font-face {
    font-family: 'Messina Sans';
    src: url('../assets/fonts/MessinaSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Mikela';
    src: url('../assets/fonts/MikelaLight.woff') format('woff');
}

/* Fonts - End */

/* Universal For HTML */
:root{
    --scheme: #5c1ed8;
    --white: #fafafa;
    --text: #1B2A3D;
    --black: #1B2A3D;
    --grey: #e9ecef;
    --text-font: 'Messina Sans', serif;
    --logo-font: 'Mikela', sans-serif;
    --darkgrey: #687980;
    --heading: 2.5rem;
    --sub-heading: 1.8rem;
    --background-color: #fafafa;
}

::selection {
    background: #025fff;
    color: #fff;
    text-decoration: none;
}

*{
    -ms-overflow-style: none;
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
    font-family: var(--text-font);
    color: var(--text);
    scroll-behavior: smooth;
    box-shadow: none;
}

body{
    /* background: var(--white); */
    background-color: var(--background-color);
}

.container{
    padding-top: 10px;
    padding-right: 15%;
    padding-left: 15%;
}
/* -------------------------- */

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 2.5rem;
    background: var(--black);
}

.footer-content{
    display: flex;
    padding: 2rem 5.6rem;
    justify-content: space-between;
}

.footer-social-icons{
    display: flex;
}

.footer-socials{
    padding: 0 20px;
}



.footer-icons{
    transition: all 0.3s ease-in-out;
}

.footer-icons:hover{
    fill: var(--scheme) !important;
}

.copyright{
    /* background: var(--scheme); */
    margin: auto 0;
    font-size: 1.1rem;
    color: var(--white);
}

.footer-last{
    padding-right: 0;
}


/* Elements */
button{
    outline: none !important;
}

a {
    text-decoration: none;
    color: unset;
}

.active a{
    color: var(--scheme);
    filter: brightness(83%);
    font-weight: bold;
}

.active a:hover{
    color: var(--scheme);
    filter: brightness(90%);
    font-weight: bold;
}

u{
    text-decoration: none;
    font-weight: bold;
}

/*Common Tags for all over the webpage*/
.references{
    border-bottom: 1.5px solid var(--scheme);
    transition: all 0.2s ease-out;
}
.references:hover{
    color: var(--scheme);
    filter: brightness(85%);
}

.references:focus{
    font-weight: bold;
    border-bottom: 1.5px solid var(--scheme);
    color: var(--scheme);
}


/* hr */
.end{
    display: block;
    width: 25%;
    margin: 2rem auto 0;
    padding: 0;
    border: 2px solid var(--scheme);
    border-radius: 12px;
}

#twitter-color{
    color: #08a0e9;
}

.heading{
    padding-top: 10%;
    font-size: 2.5rem !important;
    padding-bottom: 1%;
}

.description{
    text-align: center;
    font-size: 1.25rem !important;
    color: var(--text) !important;
    line-height: 1.3 !important;
    padding: 10px 0 20px;
}

/* Scroll Up Button */
#scroll-up-btn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0 0 2.5px;
    background: var(--scheme);
    color: var(--black);
    transition: all 0.4s ease-in-out;
}

#scroll-up-btn:hover{
    filter: brightness(90%);
}