.nav-bar{
    display: flex;
    justify-content: space-between;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.logo{
    font-family: 'new_yorkregular', serif;
    font-size: 2.4rem;
    /* color: #845ec2; */
    color: var(--scheme);
    transition: all 0.4s ease-in-out;
}

a.logo:hover{
    font-size: 2.5rem;
}

.nav-list{
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.nav-list-item{
    display: inline-block; 
    color: var(--scheme); 
    list-style: none;   
}
  
.nav-list-a{
    font-size: 17px;
    font-family: 'JetBrains Mono', monospace;
    color: var(--text);
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    transition: all 0.2s ease-out;
}

.nav-list-a:hover{  
    color: var(--scheme);
}

.socials-logo{
    width: 25px;
    height:25px;  
}

