.nav-bar{
    display: flex;
    justify-content: space-between;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.logo{
    font-family: 'NewYork', serif;
    font-size: 2.4rem;
    /* color: #845ec2; */
    color: #ff6b6b;
    transition: all 0.2s ease-in-out;
}

a.logo:hover{
    color: #ff5353;
}

.nav-list{
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.nav-list-item{
    display: inline-block; 
    color: #ff6b6b; 
    list-style: none;   
}
  
.nav-list-a{
    font-size: 17px;
    font-family: 'JetBrains Mono', monospace;
    color: #fff;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    transition: all 0.2s ease-out;
}

.nav-list-a:hover{  
    color: #ff6b6b;
}

.github-logo{
    width: 25px;
    height:25px; 
    fill: #fff !important;     
}
