.rgb_strip{
    position: fixed;
    z-index: 100;
    height: 5px;
    width: 100%;
    background-image: -webkit-gradient(linear,left top,right top,from(#025fff),color-stop(#22d278),color-stop(#f5e400),color-stop(#f09835),color-stop(#e9373f),color-stop(#9650a9),to(#025fff));
    background-image: -webkit-linear-gradient(left,#025fff,#22d278,#f5e400,#f09835,#e9373f,#9650a9,#025fff);
    background-image: -o-linear-gradient(left,#025fff,#22d278,#f5e400,#f09835,#e9373f,#9650a9,#025fff);
    background-image: linear-gradient(90deg,#025fff,#22d278,#f5e400,#f09835,#e9373f,#9650a9,#025fff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.nav-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.logo{
    font-family: 'Sirin Stencil', cursive;
    /* padding: 10px; */
    margin-top: -1rem;
    font-size: 3.5rem;
    /* color: #845ec2; */
    color: var(--scheme);
    transition: all 0.4s ease-in-out;
}

a.logo:hover{
    filter: brightness(120%);
}

.nav-list{
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.nav-list-item{
    display: inline-block; 
    color: var(--scheme); 
    list-style: none;
}
  
.nav-list-a{
    font-size: 17px;
    font-family: 'Messina Sans', sans-serif;
    color: var(--text);
    text-decoration: none;
    padding-right: 2.5vw;
    padding-left: 2.5vw;
}

.nav-list-a:hover{  
    color: var(--scheme);
}

.hamburger{
    background-color: transparent;
    border: none;
    display: none;
    color: var(--black);
    cursor: pointer;
}

.hamburger:focus{
    outline: none;
}